<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    
    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, voluptate hic. Voluptatem adipisci reiciendis, quibusdam atque non exercitationem ipsum ullam temporibus, explicabo esse officiis. Officiis totam iste quisquam officia voluptatum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ullam reiciendis dolore optio labore iste doloribus, a necessitatibus minus distinctio commodi tempore dignissimos qui laudantium.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In culpa non facilis tempora placeat consequuntur minima illum, sint nesciunt. Neque ea maiores qui sequi sint, reiciendis laboriosam eligendi excepturi cumque quod explicabo fugit vero facilis, cupiditate pariatur velit, doloremque harum? Iste optio facilis tempora consequuntur.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>